// Colors
$color-black: #353535;
$color-grey: #A0A0A0;
$color-grey-light: #FCFCFC;
$color-white: #F5F5F5;

// Fonts
$font-family: 'Overpass', sans-serif;
$font-size: 18px;
$font-weight-normal: 300;
$font-weight-bold: 900;
$line-height: 2;

// Spacing
$spacing-small: 20px;
$spacing-large: 40px;

// Other
$border-radius: 5px;
$box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.025);
$box-shadow-hover: 0 0 10px 5px rgba(0, 0, 0, 0.075);
$transition: 0.2s;
