// Colors
$themes: (
  "light": (
		"background": #F0F0F0,
		"container": #FCFCFC,
		"text": #353535,
		"text-label": #A0A0A0,
		"popup": #DFDFDF,
		"shadow": 0 0 5px 3px rgba(0, 0, 0, 0.025),
		"shadow-hover": 0 0 10px 5px rgba(0, 0, 0, 0.075)
  ),
  "dark": (
		"background": #353535,
		"container": #515151,
		"text": #D0D0D0,
		"text-label": #A5A5A5,
		"popup": #6D6D6D,
		"shadow": 0 0 5px 3px rgba(255, 255, 255, 0.025),
		"shadow-hover": 0 0 10px 5px rgba(255, 255, 255, 0.075)
  )
) !default;

// Fonts
$font-family: "Overpass", sans-serif;
$font-size: 18px;
$font-weight-normal: 300;
$font-weight-bold: 900;
$line-height: 2;

// Spacing
$spacing-small: 20px;
$spacing-large: 40px;

// Other
$border-radius: 5px;
$transition: 0.2s;
$button-height: 35px;
$button-width: 150px;
