[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anonymizeip = "*"
flask = "*"
gunicorn = "*"
wheel = "*"

[dev-packages]
black = "*"
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
init = "git config core.hooksPath .hooks"
start = "python server.py"
format = "black server.py src --line-length=100"
lint = "flake8 server.py src --max-line-length=100"

[pipenv]
allow_prereleases = true
