[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
anonymizeip = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python src/server.py"
format = "pre-commit run --all-files"
