[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
anonymizeip = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
lint = "pipenv run flake8 --exclude=.git,__pycache__,build,dist,node_modules"
