.app-outer {
	transition: $transition;
	@include background-color("background");
}

.app-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 10vw;
}

header {
	margin-bottom: $spacing-large;
}

.toolbar {
	& > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-right: -$spacing-small;

		& > * {
			margin: 0 $spacing-small ($spacing-small / 2) 0;
		}
	}

	& > div:first-child {
		margin-bottom: ($spacing-large / 2) - ($spacing-small / 2);
	}

	& > div:last-child {
		margin-bottom: $spacing-large - ($spacing-small / 2);
	}
}

.set-list {
	margin-bottom: $spacing-large;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing-large 0;

	svg {
		margin-right: $spacing-inline-icon;
	}
}
