body {
	background: $color-white;
}

.app {
	max-width: 1100px;
	margin: 0 auto;
	padding: 10vw;
}

header {
	margin-bottom: $spacing-large;
}

.toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: $spacing-large - $spacing-small;
	margin-right: -$spacing-small;

	& > * {
		flex: 1;
		width: $width-button;
		margin: 0 $spacing-small $spacing-small 0;
	}
}
