.dropdown {
	position: relative;
	display: inline-block;
	width: $button-width;

	.button {
		svg {
			margin-right: 5px;
			margin-left: -10px;
		}

		&.active {
			box-shadow: $box-shadow-hover;
		}
	}

	ul {
		position: absolute;
		z-index: 1;
		width: 100%;
		background: darken($color-grey-light, 8%);
		overflow: hidden;
		border-radius: $border-radius;

		&.collapsed {
			max-height: 0;
			transition: $transition;
			padding: 0 ($spacing-small / 2);
		}

		&.expanded {
			max-height: 200px;
			transition: $transition;
			padding: $spacing-small / 2;
			box-shadow: $box-shadow;
		}
	}

	input[type="checkbox"],
	input[type="radio"]{
		margin-right: 8px;
	}
}
