.dropdown {
	position: relative;
	display: inline-block;
	width: $button-width;

	.button {
		svg {
			margin-right: $spacing-inline-icon;
			margin-left: -10px;
		}

		&.active {
			@include box-shadow("shadow-hover");
		}
	}

	ul {
		position: absolute;
		z-index: 1;
		width: 100%;
		overflow-y: scroll;
		border-radius: $border-radius;
		@include background-color("popup");

		&.collapsed {
			max-height: 0;
			transition: $transition;
			padding: 0 ($spacing-small / 2);
		}

		&.expanded {
			max-height: 200px;
			transition: $transition;
			padding: $spacing-small / 2;
			@include box-shadow("shadow");
		}
	}

	input[type="checkbox"],
	input[type="radio"]{
		margin-right: $spacing-inline-icon;
	}
}
