.button,
.list-entry {
	transition: $transition;
	border-radius: $border-radius;

	&:hover {
		@include box-shadow("shadow-hover");
		transition: $transition;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: $button-height;
	width: $button-width;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	@include background-color("container");
}

.button-icon {
	width: $button-height;
}
