.button,
.list-entry {
	transition: $transition;
	border-radius: $border-radius;

	&:hover {
		box-shadow: $box-shadow-hover;
		transition: $transition;
	}
}

.button {
	display: inline-block;
	width: $width-button;
	padding: $spacing-small / 2;
	background: $color-grey-light;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
}
