.list-entry {
	padding: $spacing-large;
	background: $color-grey-light;
	border-radius: $border-radius;
	margin-bottom: $spacing-large;
	box-shadow: $box-shadow;
	transition: $transition;

	@include small-screen {
		display: grid;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: -$spacing-small;

			li {
				text-align: center;
				flex: 1;
				min-width: 60px;
				margin-bottom: $spacing-small;
			}
		}
	}

	@include large-screen {
		display: flex;
	}

	&:hover {
		box-shadow: $box-shadow-hover;
		transition: $transition;
	}
}

.sample-icons-container {
	color: $color-black;

	@include large-screen {
		display: grid;
		grid-column-gap: $spacing-small;
		grid-row-gap: $spacing-small;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		margin-right: $spacing-large;
	}
}

.info-container {
	width: 100%;

	@include small-screen {
		margin-top: $spacing-large;
	}
}
