.list-entry {
	padding: $spacing-large;
	@include background-color("container");

	@include small-screen {
		display: grid;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: -$spacing-small;

			li {
				text-align: center;
				flex: 1;
				min-width: 60px;
				margin-bottom: $spacing-small;
			}
		}
	}

	@include large-screen {
		display: flex;
	}
}

.list-entry + .list-entry {
	margin-top: $spacing-large;
}

.sample-icons-container {
	@include color("text");

	@include large-screen {
		display: grid;
		grid-column-gap: $spacing-small;
		grid-row-gap: $spacing-small;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		margin-right: $spacing-large;
	}
}

.info-container {
	width: 100%;

	@include small-screen {
		margin-top: $spacing-large;
	}
}
